<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-gradient py-4">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center gap-3" href="#">
                <img src="../assets/logo.png" alt="" width="70" class="d-inline-block align-text-top">
                <h1 class="text-light">Morpheus</h1>
            </a>
            <div class="collapse navbar-collapse w-25 d-flex justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active px-5 text-white fs-5 fw-bold" aria-current="page" href="newScreen.html">Portal de notícias</a>
                    </li>
                    <li class="nav-item d-flex align-items-center justify-content-center">
                        <a class="nav-link active text-white fs-5 fw-bold" aria-current="page" href="index.html">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="news"></div>
    <script type="text/x-template" id="template-news">
        <div class="container py-5">
            <div class="d-flex align-items-center gap-4">
                <img src="../assets/new.png" width="80"/>
                <h1>Portal de notícias</h1>
            </div>
            <div class="mt-4 mb-3">
                <button class="btn btn-dark bg-gradient w-25" @click="openRegister">Cadastrar notícias</button>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Pesquisar">
            </div>
            

            <!-- Modal de cadastro/edição de notícias -->
            <div class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{newPortal.tituloModal}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <div v-if="newPortal.erro.status" class="alert alert-danger" role="alert">
                                {{newPortal.erro.texto}}
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-dark bg-gradient w-25" @click="postNews">Cadastrar notícias</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de confirmação de exclusão -->
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Exclusão</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-if="newsToDelete">
                                Deseja realmente excluir a notícia "<strong>{{ newsToDelete.name }}</strong>"?
                            </div>
                            <div v-else>
                                <p>Notícia não encontrada.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" @click="deleteRegister">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </script>
    <script src="../library/axios.js"></script>
    <script src="../library/vue.js"></script>
    <script src="../library/bootstrap.bundle.min.js"></script>
    <script src="../js/newsScreen.js"></script>
</body>
</html>
