<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morpheus</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css\bootstrap-icons-1.11.3\bootstrap-icons-1.11.3\font\bootstrap-icons.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/Logo_Morpheus.png" alt="Morpheus Logo" width="auto" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">
                            <i class="bi bi-newspaper"></i> Portais de Notícia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="newsFeed.html">
                            <i class="bi bi-globe2"></i> Noticias
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <div id="app">

        <div class="container">
            <div v-if="isLoading" class="overlay">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="page-title d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-globe2" style="font-size: 30px; color: #004c8a;"></i>
                    <h1 class="ms-2 mb-0">Notícias</h1>
                </div>
            </div>
            <div class="alert alert-dismissible fade show" :class="`alert-${root.alert.type}`" role="alert"
                v-if="root.alert.show">
                <strong>{{root.alert.titleError}}</strong>
                <br>
                {{root.alert.desc}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>

            <div class="mt-3 d-flex">
                <select class="form-select" v-model="this.sourceNews.search.field" @change="newsFilter"
                    style="width: auto;">
                    <option value="newsTitle">Título</option>
                    <option value="newsContent">Conteúdo</option>
                </select>
                <input type="text" class="form-control ms-2" v-model="this.sourceNews.search.query" @input="newsFilter"
                    placeholder="Pesquisar" style="flex-grow: 1;">
            </div>


            <div class="mt-3 d-flex justify-content-end align-items-center">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label text-secondary">Número de itens por
                            página</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" v-model="pagination.items" @change="changePage(pagination.page)"
                            style="width: auto;">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>

                <nav aria-label="Page navigation example" class="ms-3">
                    <ul class="pagination justify-content-end mb-0">
                        <li :class="['page-item', { disabled: pagination.page == 1 }]">
                            <a @click="changePage(pagination.page - 1)" class="page-link" href="#">
                                <i class="bi bi-caret-left-fill"></i>
                            </a>
                        </li>
                        <div v-for="p in pagination.totalPages">
                            <li v-if="p<4 || p>pagination.totalPages-3"
                                :class="['page-item', { active: pagination.page == p }]" :key="p">
                                <a @click="changePage(p)" class="page-link" href="#">{{ p }}</a>
                            </li>
                            <li v-if="p==Math.floor(pagination.totalPages / 2) && pagination.totalPages>5"
                                :class="['page-item', { active: pagination.page == p }]" :key="p">
                                <a class="page-link" href="#"> ... </a>
                            </li>
                        </div>
                        <li :class="['page-item', { disabled: pagination.page == pagination.totalPages }]">
                            <a @click="changePage(pagination.page + 1)" class="page-link" href="#">
                                <i class="bi bi-caret-right-fill"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>



            <div v-if="sourceNews && sourceNews.filtered && sourceNews.filtered.length > 0" class="table-container">
                <table class="table table-bordered mt-2">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%;">Título
                                <button class="btn btn-icon" @click="newsToggleSort('newsTitle')">
                                    <i :class="sourceNews.search.sort.order != 'asc' 
                                               ? 'bi bi-arrow-down-circle-fill' 
                                               : 'bi bi-arrow-up-circle-fill'"></i>
                                </button>
                            </th>
                            <th scope="col" style="width: 5%;">Conteúdo
                                <button class="btn btn-icon" @click="newsToggleSort('newsContent')">
                                    <i :class="sourceNews.search.sort.order != 'asc' 
                                           ? 'bi bi-arrow-down-circle-fill' 
                                           : 'bi bi-arrow-up-circle-fill'"></i>
                                </button>
                            </th>
                            <th scope="col" style="width: 15%;">Portal
                                <button class="btn btn-icon" @click="newsToggleSort('srcName')">
                                    <i :class="sourceNews.search.sort.order != 'asc' 
                                           ? 'bi bi-arrow-down-circle-fill' 
                                           : 'bi bi-arrow-up-circle-fill'"></i>
                                </button>
                            </th>
                            <th scope="col" style="width: 50%;">Endereço</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="news in sourceNews.filtered" :key="news.newsTitle">
                            <td>{{ news.newsTitle }}</td>
                            <td>{{ news.newsContent.slice(0,40) }}
                                <span v-if="news.newsContent.length > 40"
                                    @click="openModal(news.newsContent, news.newsTitle, news.autName, news.newsRegistryDate)"
                                    style="cursor: pointer; color: blue;">...</span>
                            </td>
                            <td>{{ news.srcName }}</td>
                            <td style="text-align: center;">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a :href="news.scrAddress" target="_blank" rel="noopener noreferrer">
                                        <button class="btn btn-outline-primary btn-sm" title="scrAddress">
                                            <i class="bi bi-link"></i>
                                        </button>
                                    </a>

                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else class="alert alert-primary" role="alert">
                Nenhuma notícia encontrada
            </div>
        </div>


        <!-- Modal de conteúdo -->
        <div class="modal fade" id="content" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">{{ modalContent.title }}</h5>
                    </div>
                    <div class="modal-body">
                        {{ modalContent.content }}
                        <br><br>
                        <p><strong>Autor:</strong> {{ modalContent.author }}</p>
                        <p><strong>Data de Registro:</strong> {{ modalContent.data }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="closeModal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../library/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
    <script src="../library/axios.js"></script>
    <script src="../js/newsFeed.js"></script>
</body>

</html>